<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
    <title>p_add</title>
</head>
<body>
<h1>添加一行数据</h1>
<form action="/p_add/" method="post">
    <label for="">
        出版社:
        <input type="text" name="p_name">
        <input type="submit" value="提交">
    </label>
    <p style="color:red;font-size: 30px">{{ error }}</p>
</form>

{#<script src="jquery-3.2.1.min.js"></script>#}
{#<script src="bootstrap/js/bootstrap.min.js"></script>#}
</body>
</html>